.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table {
  width: 70%;
  border: 1px solid grey;
}
.header {
  background-color: antiquewhite;
}
.head {
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}
.cell {
  background-color: aliceblue;
  border: 1px solid black;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}
