.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.traffic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  width: 8rem;
  padding: 30px;
  background: black;
  border-radius: 25px;
}

.light {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: grey;
}
.countDown {
  font-size: 18px;
  font-weight: bold;
}
